@font-face {
    font-family: 'spongebob';
    src: url('/Users/mbaioumy/Documents/WebServ/var/www/html/Assets/SpongeboyRegular-gx2n6.woff') format('WOFF');
}

.font-spongebob {
    font-family: 'spongebob' !important;
  }

@font-face {
    font-family: 'sponge';
    src: url('/Users/mbaioumy/Documents/WebServ/var/www/html/Assets/Spongebob-Font/Spongeboy Me Bob.woff') format('WOFF');
}

.font-spongebob {
    font-family: 'sponge' !important;
  }